<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/estilos.css') }}" />
</head>

<body>
    <div class="contenedor-flex">
        <div class="columna-index"></div>
        <div class="columna-derecha">
            <div class="formulario-login">
                <h2 class="titulo-login">Bienvenido</h2>
                <p>¡Bienvenido a la aplicación de gestión financiera!<br>
                Por favor, inicia sesión para continuar o regístrate si aún no tienes una cuenta.</p>
                <a class="boton" href="{{ url_for('login') }}">Iniciar sesión</a>
                <a class="boton" href="{{ url_for('register') }}">Registrarse</a>
            </div>
        </div>
    </div>
</body>

</html>