<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/estilos.css') }}" />
</head>

<body>
    <div class="contenedor-flex">
        <div class="columna-index"></div>

        <div class="columna-derecha">
            <div class="formulario-login">
                <h2 class="titulo-login">Regístrate</h2>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                      {% for message in messages %}
                        <li style="color:red;">{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <form method="POST" action="{{ url_for('registro') }}">
                    <input type="text" name="nombre" placeholder="Tu nombre" class="campo-input" required />

                    <input type="text" name="usuario" placeholder="Crea un usuario" class="campo-input" required />

                    <input type="password" name="contrasena" placeholder="Crea una contraseña" class="campo-input" required />

                    <input type="text" name="palabra_clave" placeholder="Ej: apellido materno" class="campo-input" required />

                    <button class="boton" type="submit">Registrarme</button>
                </form>
                <p class="enlace-registro">
                    ¿Ya tienes una cuenta?
                    <a href="{{ url_for('login') }}">Inicia sesión aquí</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>